
body {
    font-family: Arial, sans-serif;
    background-color: #85eff1;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    background: rgb(16, 228, 228);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1, h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input, textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #ed12ea;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ee9ee6;
  }
  
  #messagesList {
    list-style-type: none;
    padding: 0;
  }
  
  #messagesList li {
    background: #eee;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  